body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 14px;
  line-height: 21px;
  color: $default;
  background-color: $white;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
}
.container{
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 100%;
  @media screen and (min-width: 320px){
    max-width: 100%;
  }
  @media screen and (min-width: 640px){
    //max-width: 896px;
  }
  @media screen and (min-width: 1022px){
    //max-width: 1120px;
  }
  @media screen and (min-width: 1260px){
    max-width: 1260px;
  }
}
h1, h2, h3, h4, h5, h6{
  font-family: $SolomonSans;
  font-weight: bold;
}
h1 {
  font-size: 64px;
  line-height: 120%;
  color: $default;
}

h2 {
  font-size: 54px;
  line-height: 100%;
  color: $default;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  color: $default;
}

h4 {
  font-size: 16px;
  line-height: 28px;
  color: $default;
}

h5 {
  font-size: 16px;
  line-height: 26px;
  color: $default;
}

h6 {
  font-size: 14px;
  line-height: 21px;
  color: $default;
}

p {
  font-size: 14px;
  line-height: 23px;
}

img {
  display: block;
  //width: 100%;
  font-size: 12px;
  line-height: 14px;
}

section {
  position: relative;
  padding: 40px 0;
}
.bg-gray{
  background: #F7F8FA;
}


.overflow {
  overflow: hidden !important;
}
.hidden {
  display: none !important;
}
.icon {
  width: 20px;
  height: 20px;
}

a,
button,
input,
select,
textarea,
span,
.icon {
  transition: all 150ms ease;
}
button{
  cursor: pointer;
}
.slide{
  outline: none !important;
}
.media-link{
  color: #37383D;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  font-family: $SolomonSans;
  padding: 0 20px 0 0;
  transition: all ease 300ms;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    transition: all ease 300ms;
    right: 0;
    top: 0;
    width: 10px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cg clip-path='url(%23clip0_172_12268)'%3E%3Cpath d='M1 13L13 1' stroke='%23E73638' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 1H13V10' stroke='%23E73638' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_172_12268'%3E%3Crect width='14' height='14' fill='white' transform='matrix(-1 0 0 -1 14 14)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
  &:hover{
    &:before{
      top: 3px;
      transform: rotate(45deg);
    }
  }
}
.arrow-link{
  color: #E73638;
  font-family: $SolomonSans;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  padding: 0 20px 0 0;
  transition: all ease 300ms;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    transition: all ease 300ms;
    right: 0;
    top: 0;
    width: 10px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cg clip-path='url(%23clip0_172_12268)'%3E%3Cpath d='M1 13L13 1' stroke='%23E73638' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 1H13V10' stroke='%23E73638' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_172_12268'%3E%3Crect width='14' height='14' fill='white' transform='matrix(-1 0 0 -1 14 14)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
  &:hover{
    &:before{
      top: 3px;
      transform: rotate(45deg);
    }
  }
}
.btn-primary{
  color: #E73638;
  font-family: $SolomonSans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.64px;
  line-height: 20px;
  border-radius: 124px;
  text-transform: uppercase;
  border: 2px solid #E73638;
  padding: 15px 54px 15px 30px;
  transition: all ease 300ms;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    transition: all ease 300ms;
    right: 30px;
    top: 15px;
    width: 14px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cg clip-path='url(%23clip0_172_12268)'%3E%3Cpath d='M1 13L13 1' stroke='%23E73638' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 1H13V10' stroke='%23E73638' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_172_12268'%3E%3Crect width='14' height='14' fill='white' transform='matrix(-1 0 0 -1 14 14)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
  &:hover{
    &:before{
      top: 18px;
      transform: rotate(45deg);
    }
  }
}
.btn-secondary{
  color: #FFF;
  font-family: $SolomonSans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.64px;
  line-height: 20px;
  border-radius: 124px;
  text-transform: uppercase;
  border: 2px solid #E73638;
  background: #E73638;
  padding: 15px 54px 15px 30px;
  transition: all ease 300ms;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    transition: all ease 300ms;
    right: 30px;
    top: 15px;
    width: 14px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cg clip-path='url(%23clip0_172_12160)'%3E%3Cpath d='M1 13L13 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 1H13V10' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_172_12160'%3E%3Crect width='14' height='14' fill='white' transform='matrix(-1 0 0 -1 14 14)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
  &:hover{
    &:before{
      top: 18px;
      transform: rotate(45deg);
    }
  }
}
.title-section{
  color: #37383D;
  text-align: center;
  font-family: $SolomonSans;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 100% */
  letter-spacing: 1.2px;
  margin-bottom: 40px;
  span{
    display: inline-block;
    position: relative;
    &:before, &:after{
      position: absolute;
      content: '';
      top: 50%;
      margin-top: -8px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M11 -4.03256e-07L14.438 7.56205L22 11L14.438 14.438L11 22L7.56205 14.438L4.03256e-07 11L7.56205 7.56205L11 -4.03256e-07Z' fill='%23E73638'/%3E%3C/svg%3E");
      width: 22px;
      height: 22px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &:before{
      left: -42px;
    }
    &:after{
      right: -42px;
    }
  }
  &.title-section__left{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-align: left;
    span{
      &:before{
        display: none;
      }
    }
  }
  .arrow-link{
    letter-spacing: 0;
  }
}
.subtitle-section{
  color: #5a5c63;
  text-align: center;
  font-family: $SolomonSans;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 38px; /* 100% */
  letter-spacing: 1.2px;
  margin-bottom: 40px;
  span{
    display: inline-block;
    position: relative;
  }
}
.slick-dots{
  display: flex;
  align-items: center;
  li{
    margin: -12px 5px 0;
    &.slick-active{
      button{
        background: #e73638;
      }
    }
  }
  button{
    font-size: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #D2D3D7;
  }
}
.prev{
  &:before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Cg clip-path='url(%23clip0_172_12258)'%3E%3Cpath d='M-1.24771e-06 20.4999L6 14L6 19.2207L6 21.7793L6 27L-1.24771e-06 20.4999Z' fill='%2337383D'/%3E%3Cline y1='-0.5' x2='34.4444' y2='-0.5' transform='matrix(1 -9.61651e-08 -7.77091e-08 -1 5.55554 20)' stroke='%2337383D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_172_12258'%3E%3Crect width='40' height='40' fill='white' transform='matrix(-1 1.74846e-07 1.74846e-07 1 40 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
}
.next{
  &:before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Cg clip-path='url(%23clip0_172_12252)'%3E%3Cpath d='M40 20.4999L34 14L34 19.2207L34 21.7793L34 27L40 20.4999Z' fill='%2337383D'/%3E%3Cline x1='34.4443' y1='20.5' x2='-0.00010685' y2='20.5' stroke='%2337383D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_172_12252'%3E%3Crect width='40' height='40' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
}
.prev,
.next{
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;

    background-size: cover;
    background-repeat: no-repeat;
  }
}
.parallax{
  &-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  &-item{
    position: absolute;
    user-select: none;
    pointer-events: none;
  }
}
.parallax-item{
  top: 50%;
  transform: translate(0, -50%);
  &:nth-of-type(1){
    left: 0;
  }
  &:nth-of-type(2){
    right: 0;
  }
}
.location-list{
  position: relative;
  &__title{
    position: relative;
    cursor: pointer;
    padding-right: 20px;
    &:after{
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      width: 10px;
      height: 10px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M4.99997 7.85018C4.82075 7.85018 4.64155 7.78175 4.50492 7.64518L0.205141 3.34536C-0.0683805 3.07184 -0.0683805 2.62837 0.205141 2.35496C0.478553 2.08155 0.921933 2.08155 1.19548 2.35496L4.99997 6.15968L8.80449 2.35509C9.07801 2.08168 9.52135 2.08168 9.79474 2.35509C10.0684 2.6285 10.0684 3.07197 9.79474 3.34549L5.49503 7.64531C5.35832 7.78191 5.17913 7.85018 4.99997 7.85018Z' fill='white'/%3E%3C/svg%3E");
    }
  }
  .location-address{
    display: block;
    margin-top: 8px;
  }
  ul{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}
.bread-crumbs{
  ul{
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
  }
  li{
    color: $default-100;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 100% */
    position: relative;
    display: flex;
    white-space: nowrap;
    &:after{
      position: relative;
      content: '';
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cg opacity='0.6'%3E%3Cpath d='M11.8082 6.46637L7.47457 10.8001C7.35086 10.9238 7.18599 10.9917 7.01019 10.9917C6.83419 10.9917 6.66941 10.9237 6.5457 10.8001L6.15224 10.4065C6.02863 10.283 5.96054 10.118 5.96054 9.94215C5.96054 9.76634 6.02863 9.59581 6.15224 9.4723L8.68041 6.93856H0.648287C0.286144 6.93856 0 6.65505 0 6.29281V5.73643C0 5.37418 0.286144 5.06209 0.648287 5.06209H8.7091L6.15234 2.51421C6.02873 2.3905 5.96063 2.23001 5.96063 2.05411C5.96063 1.87841 6.02873 1.71558 6.15234 1.59197L6.5458 1.19968C6.6695 1.07598 6.83428 1.00856 7.01028 1.00856C7.18609 1.00856 7.35096 1.07685 7.47467 1.20056L11.8083 5.53418C11.9323 5.65828 12.0005 5.82394 12 6.00003C12.0004 6.17671 11.9323 6.34247 11.8082 6.46637Z' fill='%2337383D'/%3E%3C/g%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      top: 1px;
      width: 12px;
      height: 12px;
      margin: 0 10px;
    }
    &:last-of-type{
      &:after{
        opacity: 0;
      }
    }
    &:first-of-type{
      a{
        position: relative;
        &:before{
          position: relative;
          content: '';
          display: inline-block;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cg clip-path='url(%23clip0_172_12321)'%3E%3Cpath d='M12.7817 5.81146L6.949 0.496756C6.69298 0.263442 6.30692 0.263468 6.05101 0.496731L0.218309 5.81149C0.0132296 5.99836 -0.0545125 6.28629 0.0456788 6.54499C0.145895 6.8037 0.389899 6.97085 0.667342 6.97085H1.59892V12.2958C1.59892 12.5069 1.77011 12.6781 1.98123 12.6781H5.17826C5.38938 12.6781 5.56056 12.5069 5.56056 12.2958V9.06265H7.43952V12.2958C7.43952 12.5069 7.6107 12.6781 7.82182 12.6781H11.0187C11.2298 12.6781 11.401 12.507 11.401 12.2958V6.97085H12.3328C12.6102 6.97085 12.8542 6.80367 12.9544 6.54499C13.0545 6.28626 12.9867 5.99836 12.7817 5.81146Z' fill='%23E73638'/%3E%3Cpath d='M11.3014 1.08496H8.73389L11.6837 3.76712V1.46724C11.6837 1.25612 11.5125 1.08496 11.3014 1.08496Z' fill='%23E73638'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_172_12321'%3E%3Crect width='13' height='13' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
          background-size: contain;
          background-repeat: no-repeat;
          width: 13px;
          height: 13px;
          margin-right: 10px;
        }
      }
    }
  }
  a{
    color: rgba($default-100, .6);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    white-space: nowrap;
    &:hover{
      color: $primary;
    }
  }
}
.top{
  background: #F7F8FA;
  padding: 187px 0 50px;
  .bread-crumbs{
    margin-bottom: 37px;
  }
  &-info{
    display: flex;
    margin: 39px 0 45px;
  }
  &-item{
    margin-right: 33px;
    display: flex;
    &__media{
      min-width: 60px;
      height: 60px;
      margin-right: 10px;
      background: $white;
      box-shadow:0px 24px 34px rgba(14, 18, 35, 0.08);
      display: flex;flex-direction: column;justify-content: center;align-items: center;
      border-radius: 50%;
    }
    &__desc{
      b{
        color: #37383D;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 20px; /* 100% */
        display: block;
        margin-bottom: 5px;
      }
      span{
        display: block;
        color: #37383D;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 100% */
        b{
          color: $primary;
        }
      }

    }
  }
  &-banner{
    position: relative;
    height: 200px;
    margin-bottom: -110px;
    .banner-item{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    .banner-item__desc{
      padding: 50px 75px;
      display: flex;
      flex-wrap: wrap;
      .title-section{
        width: 100%;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
        letter-spacing: 0.8px;
        margin-bottom: 20px;
      }
    }
    .banner-item__form{
      width: 100%;
      max-width: 480px;
    }
    &-item__text{
      max-width: 540px;
      margin-right: 35px;
    }
  }
}
.margin-top{
  margin-top: 125px;
}
.title-page{
  position: relative;
  &:after{
    position: relative;
    content: '';
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 -7.33192e-07L26.2508 13.7492L40 20L26.2508 26.2508L20 40L13.7492 26.2508L7.33192e-07 20L13.7492 13.7492L20 -7.33192e-07Z' fill='%23E73638'/%3E%3C/svg%3E%0A");
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  color:  #37383D;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 86px; /* 107.5% */
  letter-spacing: 1.6px;
  margin-bottom: 25px;
  span{
    color: #E73638;
  }
  &.title-page__small{
    font-family: $SolomonSans;
    font-size: 60px;
    font-weight: 900;
    line-height: 66px;
    letter-spacing: 1.2px;
  }
}
.nav-list{
  margin-bottom: 18px;
  ul{
    display: flex;
    justify-content: center;
    overflow: auto;
    padding-bottom: 10px;
  }
  li{
    margin: 0 20px 20px;
    white-space: nowrap;
  }
  a{
    white-space: nowrap;
    color: #37383D;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 100% */
    &:hover, &.active, &.current-item{
      color: #E73638;
    }
  }
}
//
//.modal-group{
//   text-align: left;
//   margin-bottom: 16px;
//   &.disabled{
//     .label-checkbox{
//       color: $gray;
//     }
//   }
//   .input-radio, .input-checkbox {
//     opacity: 0;
//     visibility: hidden;
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     border: 0;
//     padding: 0;
//     clip: rect(0 0 0 0);
//     overflow: hidden;
//     &:checked{
//        + label{
//          &:before{
//            opacity: 1;
//            z-index: 2;
//          }
//        }
//        + label + label{
//          &:before{
//            opacity: 1;
//            z-index: 2;
//          }
//        }
//     }
//   }
//   .label-checkbox{
//     display: block;
//     position: relative;
//     padding-left: 26px;
//     cursor: pointer;
//     font-size: 14px;
//     color: $default;
//     font-weight: 400;
//     &:before, &:after{
//       position: absolute;
//       content: '';
//       box-sizing: border-box;
//     }
//     &:after{
//       width: 14px;
//       height: 14px;
//       border: 1px solid #9FB1BD;
//       background: #FFF;
//       left: 2px;
//       top: 50%;
//       margin-top: -9px;
//
//     }
//     &:before{
//       width: 14px;
//       height: 14px;
//       transition: all ease 300ms;
//       left: 2px;
//       top: 50%;
//       margin-top: -9px;
//       opacity: 0;
//       background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Crect width='14' height='14' fill='%23186ADE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.52645 5.83993L2.47314 6.9079L5.64954 10.0407L11.5126 4.54777L10.487 3.45312L5.67624 7.96021L3.52645 5.83993Z' fill='white'/%3E%3C/svg%3E");
//     }
//   }
// }

//.wysiwyg{
//  margin-bottom: 20px;
//  font-family: $GoldmanSans;
//  font-size: 18px;
//  font-style: normal;
//  font-weight: 300;
//  line-height: 155.556%;
//  p{
//    margin-bottom: 20px;
//    font-family: $GoldmanSans;
//    font-size: 18px;
//    font-style: normal;
//    font-weight: 300;
//    line-height: 155.556%;
//    &:last-of-type{
//      margin-bottom: 0;
//    }
//  }
//  ul, ol{
//    padding-left: 15px;
//
//  }
//  ol{
//    li{
//      padding-left: 0;
//      &:before{
//        display: none;
//      }
//    }
//  }
//  li{
//    padding-left: 15px;
//    margin-bottom: 15px;
//    position: relative;
//    &:before{
//      position: absolute;
//      content: '';
//      width: 10px;
//      height: 10px;
//      left: 0;
//      top: 8px;
//      background: $default;
//      border-radius: 50%;
//    }
//  }
//  a{
//    font-size: 14px;
//    color: $default;
//    display: inline-block;
//    position: relative;
//    &:after{
//      position: absolute;
//      content: '';
//      left: 0;
//      bottom: 0;
//      height: 1px;
//      width: 20%;
//      background: $default;
//      transition: all ease 300ms;
//      opacity: 0;
//    }
//    &:hover{
//      &:after{
//        opacity: 1;
//        width: 100%;
//      }
//    }
//  }
//}
//.form{
//  padding: 20px;
//  background: $white;
//  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.06);
//  border-radius: 3px;
//}
//.title-form{
//  font-size: 22px;
//  font-weight: 400;
//  color: $default;
//  text-align: center;
//  margin-bottom: 30px;
//}
//.label{
//  width: 100%;
//  display: block;
//  position: relative;
//  margin-bottom: 26px;
//}
//.input, .input-textarea{
//  width: 100%;
//  height: 36px;
//  padding: 10px;
//  outline: none;
//  border: 0;
//  background: #FFFFFF;
//  -webkit-box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.13);
//  -moz-box-shadow:0px 3px 13px rgba(0, 0, 0, 0.13);
//  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.13);
//  border-radius: 2px;
//  color: $gray;
//  font-size: 14px;
//  font-weight: 400;
//  font-family: 'Roboto';
//  transition: all ease 300ms;
//  -webkit-appearance: none;
//  appearance: none;
//  &:focus, &.active{
//  }
//  &.ios-pitushnia{
//    -webkit-appearance: none;
//    appearance: none;
//  }
//}
//.input-textarea{
//  height: 100px;
//  resize: none;
//  min-height: 100px;
//}
//.btn{
//  margin: 0 auto;
//  display: block;
//}
//.modal-group{
//   text-align: left;
//   margin-bottom: 30px;
//   &.disabled{
//     .label-checkbox{
//       color: $gray;
//     }
//   }
//   .input-radio, .input-checkbox {
//     display: none;
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     border: 0;
//     padding: 0;
//     clip: rect(0 0 0 0);
//     overflow: hidden;
//   }
//   .label-checkbox{
//     position: relative;
//     padding-left: 25px;
//     padding-top: 1px;
//     cursor: pointer;
//     font-size: 14px;
//     color: $default;
//     font-weight: 400;
//     &:before, &:after{
//       position: absolute;
//       content: '';
//       box-sizing: border-box;
//     }
//     &:after{
//       width: 17px;
//       height: 17px;
//       border-radius: 2px;
//       border: 1px solid $light-200;
//       left: 0;
//       top: 0;
//     }
//     &:before{
//       left: 2px;
//       top: 3px;
//       width: 13px;
//       height: 10px;
//       z-index: 2;
//       background: url("../images/svg/ic-check.svg") no-repeat;
//       transition: all ease .1s;
//       opacity: 0;
//     }
//   }
//   .label-radio{
//     position: relative;
//     padding-left: 20px;
//     cursor: pointer;
//     font-size: 14px;
//     text-transform: uppercase;
//     margin-right: 20px;
//     color: $default;
//     font-weight: 400;
//     &:before, &:after{
//       position: absolute;
//       content: '';
//       border-radius: 100%;
//       top: 50%;
//     }
//     &:after{
//       width: 15px;
//       height: 15px;
//       border: 1px solid $light-200;
//       left: 0;
//       margin-top: -8px;
//       box-sizing: border-box;
//     }
//     &:before{
//       left: 4px;
//       width: 7px;
//       height: 7px;
//       background: $primary;
//       transition: all ease 300ms;
//       opacity: 0;
//       margin-top: -4px;
//     }
//   }
// }
//select {
//  display: block;
//  width: 100%;
//  border: 1px solid $light;
//  font-size: 14px;
//  color: $default;
//  font-weight: 400;
//  border-radius: 2px;
//  margin-bottom: 20px;
//  height: 32px;
//  padding: 5px 10px;
//  outline: none;
//  &:active{
//    box-shadow: 1px 1px 10px rgba(137, 221, 205, 0.10);
//  }
//}
//.select-post{
//  .select2{
//    display: block;
//    width: 100%;
//    font-size: 14px;
//    color: $default;
//    font-weight: 400;
//    border-radius: 3px;
//    margin-bottom: 20px;
//    height: 32px;
//    padding: 0;
//    outline: none;
//    &:active{
//      box-shadow: 1px 1px 10px rgba(137, 221, 205, 0.10);
//    }
//  }
//  .label{
//    span{
//      position: relative;
//      left: 0;
//      top: 0;
//    }
//  }
//   .select2-selection__arrow{
//    left: calc(100% - 20px) !important;
//  }
//
//  .select2-selection--single{
//    height: 32px !important;
//    border: 1px solid $light-100;
//  }
//}
//.select2-dropdown,
//.select2-search__field{
//  border: 1px solid $light !important;
//}
//
//
//.input-radio:checked + .label-radio:before,
//.input-checkbox:checked + .label-checkbox:before {
//  opacity: 1;
//}
//
//.input-checkbox:checked + .label-checkbox:after {
//  //opacity: 1;
//  //background: $primary;
//  //border-color: $primary;
//}
//.input-radio:checked + .label-radio:before{
//  opacity: 1;
//}
//
//.input-checkbox:checked + .label-checkbox{
//  //color: $gray;
//}
//.input-radio:checked + .label-radio{
//  //color: $gray;
//}
.tab-item{
  visibility: hidden;
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-top: 50px;
  opacity: 0;
  transition: margin-top 0.7s ease, opacity 0.4s ease;
  &.active{
    visibility: visible;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 0;
    opacity: 1;
  }
}
body{
  &.scroll{
    overflow: hidden;
  }
}